In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.sort_values(by = ["Max Temp"], inplace = False)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
223,223,Chokurdakh,70.6333,147.9167,-41.08,100,70,2.53,RU,2022-02-07 01:19:27
29,29,Iqaluit,63.7506,-68.5145,-38.31,65,100,3.00,CA,2022-02-07 01:12:19
159,159,Pangnirtung,66.1451,-65.7125,-36.47,97,100,3.51,CA,2022-02-07 01:22:06
540,540,Ust-Kuyga,70.0167,135.6000,-36.15,99,100,4.72,RU,2022-02-07 01:32:30
60,60,Verkhoyansk,67.5447,133.3850,-34.31,98,100,1.21,RU,2022-02-07 01:19:30
...,...,...,...,...,...,...,...,...,...,...
503,503,Kieta,-6.2167,155.6333,87.06,68,100,11.03,PG,2022-02-07 01:32:15
343,343,Yulara,-25.2406,130.9889,87.64,22,0,8.05,AU,2022-02-07 01:27:15
56,56,Karratha,-20.7377,116.8463,87.82,63,43,7.00,AU,2022-02-07 01:19:28
275,275,Port Pirie,-33.1833,138.0167,87.89,23,4,17.25,AU,2022-02-07 01:25:49
210,210,Lae,-6.7221,146.9847,89.01,55,48,3.78,PG,2022-02-07 01:23:26

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [ ]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [17]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? -40
What is the maximum temperature you would like for your trip? 100

In [22]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Broken Hill,-31.9500,141.4333,78.53,33,0,17.38,AU,2022-02-07 01:18:09
1,1,Raudeberg,61.9875,5.1352,38.19,89,100,4.00,NO,2022-02-07 01:18:09
2,2,Mataura,-46.1927,168.8643,60.48,36,21,1.88,NZ,2022-02-07 01:14:07
3,3,Mount Gambier,-37.8333,140.7667,83.98,20,0,7.67,AU,2022-02-07 01:18:10
4,4,Kapaa,22.0752,-159.3190,79.12,70,20,4.00,US,2022-02-07 01:18:10
5,5,Albany,42.6001,-73.9662,20.75,75,10,2.55,US,2022-02-07 01:14:19
6,6,Yellowknife,62.4560,-114.3525,-1.68,84,75,4.61,CA,2022-02-07 01:18:11
7,7,Punta Arenas,-53.1500,-70.9167,51.91,87,75,6.91,CL,2022-02-07 01:12:03
8,8,Torbay,47.6666,-52.7314,12.76,75,40,16.11,CA,2022-02-07 01:18:11
9,9,Jamestown,42.0970,-79.2353,31.59,53,0,3.00,US,2022-02-07 01:17:56

In [23]:
preferred_cities_df.count()

City_ID       566
City          566
Lat           566
Lng           566
Max Temp      566
Humidity      566
Cloudiness    566
Wind Speed    566
Country       561
Date          566
dtype: int64

In [24]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
0    Broken Hill      AU     78.53 -31.9500  141.4333
1      Raudeberg      NO     38.19  61.9875    5.1352
2        Mataura      NZ     60.48 -46.1927  168.8643
3  Mount Gambier      AU     83.98 -37.8333  140.7667
4          Kapaa      US     79.12  22.0752 -159.3190
5         Albany      US     20.75  42.6001  -73.9662
6    Yellowknife      CA     -1.68  62.4560 -114.3525
7   Punta Arenas      CL     51.91 -53.1500  -70.9167
8         Torbay      CA     12.76  47.6666  -52.7314
9      Jamestown      US     31.59  42.0970  -79.2353

In [31]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [32]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [33]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Broken Hill,AU,78.53,-31.9500,141.4333,Royal Exchange Hotel
1,Raudeberg,NO,38.19,61.9875,5.1352,Nordre Silda.
2,Mataura,NZ,60.48,-46.1927,168.8643,Ellie's Villa
3,Mount Gambier,AU,83.98,-37.8333,140.7667,The Commodore
4,Kapaa,US,79.12,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
...,...,...,...,...,...,...
562,Pasighat,IN,57.47,28.0667,95.3333,Siang Guest House
563,Atambua,ID,83.01,-9.1061,124.8925,Pastori 1 Jemaat Polycarpus
564,Komsomolskiy,UZ,38.12,40.4272,71.7189,Ikathouse
565,Melbu,NO,30.31,68.5044,14.8297,Melbu Hotel
566,Alexandria,EG,51.76,31.2156,29.9553,Royal Crown Hotel

In [38]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [40]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [41]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [42]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))